<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://127.0.0.1:8000/accounts/login/" method="post">
        <p><input type="text" name="email"></p>
        <p>
            <textarea name="name"></textarea>
        </p>
        <!-- <p><input type="text" name="password"></p> -->
        <p>
            <input type="submit">
        </p>
    </form>
</body>
</html>