<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추억 뽑기</title>
    <link rel="stylesheet" href="login.css">

    <script>
        // Fetch API를 사용하여 서버에 데이터 전송
        function sendToServer() {
            var email = document.getElementById("email").value;
            console.log(email)
            var password = document.getElementById("password").value;
            fetch('http://192.168.140.52:8080/accounts/login/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: 
                    JSON.stringify({
                        "email": email,
                        "password": password,
                    })
            })
            .then(response => response.json())
            .then(data => {
                console.log('서버 응답: ', data);
                alert('로그인 성공!')
                // 메인 페이지로 이동하기
            })
            .catch(error => {
                console.error('서버로 전송하는 중 오류 발생: ', error);
            });
        }
    </script>
</head>
<body>
    <div class="header">
        <h1>로그인하기</h1>
    </div>
    <div class="input_group">
        <input type="email" id="email" placeholder="이메일을 입력해주세요. (예시. user@example.com)">
        <input type="password" id="password" placeholder="비밀번호를 입력해주세요. (8글자 이상 및 영어/숫자 혼합)">

    </div>
        <button class="submit-button1" onclick="sendToServer()">추억 뽑으러 가기</button>
        <button class="submit-button2">아직 회원이 아니라면 회원가입하기</button>
    </div>
</body>
</html>