<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wrtie</title>

    <script>
        function clickRadio(id) {
            var radio = document.getElementById(id);
            if (radio) {
                radio.click();
            }
        }

        function showImagePreview(input) {
            var preview = document.getElementById('img-preview');
            var files = input.files;

            if (files.length > 0) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                };
                reader.readAsDataURL(files[0]);
            } else {
                preview.src = '';
            }
        }

        // 글자수 세기
        function countChars() {
            var text = document.getElementById("custom-textarea").value;
            var charCount = text.length;
    
            document.getElementById("char_cnt").innerHTML = charCount + "/1000";
          }
    </script>
</head>
<body>
    <div id="container">
        <link rel="stylesheet" href="WritePage.css">
        <h1>추억 보내기</h1>
        <div>
            <input type="radio" id="write-btn-2" name="who" style="opacity: 0;" onclick="alert('클릭!')" />
            <label for="write-btn-2" class="radio-label-2" onclick="clickRadio('write-btn-2');">
                <div class="text-over-image">익명</div>
                <img class="radio-btn" src="img/write_btn_2.png" alt="익명">
            </label>

            <input type="radio" id="write-btn-1" name="who" style="opacity: 0;" onclick="alert('클릭!')" />
            <label for="write-btn-1" class="radio-label-1" onclick="clickRadio('write-btn-1');">
                <div class="text-over-image">나에게</div>
                <img class="radio-btn" src="img/write_btn_1.png" alt="나에게">
            </label>
        </div>  

        <button type="button" onclick="alert('클릭!')">
            <!-- <p id="write-btn-send" style="z-index: 3; position: absolute; top: 88.7%;">보내기</p> -->
            <p id="write-btn-send" style="z-index: 3; position: absolute; top: 79%;">보내기</p>
            <img id="write-btn-send" src="img/write_btn_send.png" >
        </button>

        <div>

            <div class="filebox">
                <label for="file">이미지 올리기</label> 
                <input type="file" id="file" onchange="showImagePreview(this);" >
            </div>
            <!-- <img id="img-preview" height=15%> -->
            <img id="img-preview" src="img/write_retro_icon.png" height=15%>

            <div>
                <p id="current-date"></p>
                <textarea id="custom-textarea" maxlength="1000" placeholder="추억을 입력해주세요." oninput="countChars()"></textarea>
                <p id="char_cnt">0/1000</p>
                <script>
                    date = new Date();
                    year = date.getFullYear();
                    month = date.getMonth() + 1;
                    day = date.getDate();
                    var inputValue = year + "/" + month + "/" + day;
                    document.getElementById("current-date").innerText = inputValue;  // <p> 태그에 값을 넣기
                </script>
            </div>

            <div>
                <img id="write-white" src="img/write_white.png" >
            </div>

            <div>
                <img id="write-game" src="img/write_game.png" >
            </div>

        </div>

    </div>
</body>
</html>
