<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>내 추억 저장소</title>
    <link rel="stylesheet" href="../my_page.css">
  </head>

  <body>
  <h1>내 추억 저장소</h1>
  <div id="user-nickname">(별명)</div>
    <div class="tabmenu out-tabmenu">
        <ul>
          <li id="tab1" class="btnCon"> 
        
            <input type="radio" checked name="tabmenu" id="tabmenu1">
            <label for="tabmenu1">나의 추억</label>
            <div class="tabCon" >
                <div class="default-message" id="test1">나의 추억을 만들고 일정 시간 후에 확인해보세요.</div>
                
                <button type="button" id="btn">버튼</button>
                </div>
            
          </li>
          <li id="tab2" class="btnCon">
            <input type="radio" name="tabmenu" id="tabmenu2">
            <label for="tabmenu2">뽑은 추억</label>
            <div class="tabCon" >
                <div class="default-message" id="test2">다른 사용자의 추억을 뽑아보세요.</div>
                <button type="button" id="btn2">버튼</button>
            </div>
          </li>
        </ul>
      </div>
  
    
  <script>
    let i = 0;

    function createCapsule() {  // 락 걸린 캡슐 만들기
        const tabCon = document.querySelector('.tabCon');
        const capsuleImages = ["1-locked.png", "2-locked.png"];
        const chosenImage = capsuleImages[i];

        
        const capsuleContainer = document.createElement('span');
        capsuleContainer.style.display = 'inline-block';
        capsuleContainer.style.flexDirection = 'column';
        capsuleContainer.style.textAlign = 'center';
        capsuleContainer.style.width = '100px';
        capsuleContainer.style.marginRight = '15px';
        capsuleContainer.style.marginBottom = '15px';
        capsuleContainer.style.cursor = 'pointer';
        capsuleContainer.setAttribute('data-bs-toggle', 'tooltip');
        capsuleContainer.setAttribute('data-bs-placement', 'bottom');
        capsuleContainer.setAttribute('data-bs-title', 'Tooltip on bottom');

        const capsule = document.createElement('img');
        capsule.src = `../../capsule${chosenImage}`;
        capsule.style.width = '100px';
        
        
        const createdDate = document.createTextNode('20XX.XX.XX');  // 작성 날짜 받아오기

        capsuleContainer.appendChild(capsule);
        capsuleContainer.appendChild(createdDate);
        tabCon.appendChild(capsuleContainer);

        i = (i + 1) % 2;
        if (tabCon.querySelector('img')) {
            tabCon.querySelector('.default-message').remove();
        }
    }
    // 사용자가 작성 페이지에서 추억을 작성하면(버튼을 클릭하면) 캡슐 생성
    document.getElementById('btn').addEventListener('click', createCapsule);
    

  </script>
</body>
</html>